# Copiar como .env.development.local solo si querés sobreescribir el .env durante desarrollo.
REACT_APP_API_URL=https://balto.3devsnet.com/BALTO_COMERCIO/api/routes
REACT_APP_BALTO_LOGIN_URL=https://balto.3devsnet.com/
REACT_APP_ROUTER_BASENAME=/
